[submodule "Iac-policy-wtih-sentinel"]
	path = Iac-policy-wtih-sentinel
	url = git@github.com:eedygreen/Iac-policy-wtih-sentinel.git
[submodule "terraform-cloud-vcs"]
	path = terraform-cloud-vcs
	url = git@github.com:eedygreen/terraform-cloud-vcs.git
[submodule "terraform-module-website"]
	path = terraform-module-website
	url = git@github.com:eedygreen/terraform-module-website.git
